/* body {
    background-image: url("../images/background.png");
    color: white;        
} */

.background {
    background-image: url("../images/background.png");
    color: white;        
}
.content-r3{
        border: 4px dotted white;
        /* background: black; */
        text-align:center;
        font-size: 24px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif bold;
        margin:5px;
        height: 330px;
        margin-top: 50px;
    }

    #artist-is{
        text-align:center;
        font-size: 24px;
        color: yellow;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif bold;
    }

    #computer-guess-block{
        /* text-align:center; */
        font-size: 24px;
        color: yellow;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif bold;
        margin-left: 10px;
    }

    .mid-content-r3-c2{
        border: 4px dotted white;
        text-align:center;
        font-size: 24px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif bold;
        margin:5px;
        height: 260px;
        margin-top: 120px;
        
    }

    .contents-r1-c1 {
        border: 4px dotted white;
        background: black;
        font-family: 'Bodoni MT Black';
        text-align:center;
        margin:5px;
    }

    .contents-r4-c1 {
        border: 4px dotted white;
        background: black;
        font-family: 'Arial Narrow';
        text-align:center;
        margin:5px;
    }

    .contents-r2-c1 {
        /* border: 4px dotted white; */
        /* background: black; */
        text-align:center;
        margin:5px;
        height: 260px;
        margin-top: 200px;
    }

    #start-button {
        font-size: 40px bold;
        font-family: 'Bodoni MT Black';
        color: green;

    }
    
    #submit-button {
        font-size: 30px bold;
        font-family: 'Bodoni MT Black';
        color: green;
    }
    .contents-r2-c2 {
        margin:5px;
        height: 10px;
        margin-top: 580px;
    }

    .contents-r2-c3 {
        /* border: 4px dotted white; */
        /* background: black; */
        text-align:center;
        margin:5px;
        height: 260px;
        margin-top: 20px;
    }
