
.container-background {
    background-size:cover;
    background-image: url("../images/image.png");
    color: white;        
}
.content-r3{
        border: 4px dotted white;       
        text-align:center;
        font-size: 34px;
        font-family: 'Bodoni MT Black';
        margin:5px;
        height: 360px;
        margin-top: 50px;
    }

    #artist-is{
        text-align:center;
        font-size: 34px;
        color: yellow;
        font-family: 'Bodoni MT Black';
    }

    #computer-guess-block{        
        font-size: 36px;
        text-align:center;
        color: red;
        font-family: 'Bodoni MT Black';
        margin-left: 140px;
    }

    .mid-content-r3-c2{
        border: 4px dotted white;
        text-align:center;
        font-size: 34px;
        font-family: 'Bodoni MT Black';
        margin:5px;
        height: 360px;
        margin-top: 50px;
        
    }

    .contents-r1-c1 {
        border: 4px dotted white;
        background: black;
        font-family: 'Bodoni MT Black';
        text-align:center;
        margin:5px;
    }

    .contents-r4-c1 {
        border: 4px dotted white;
        background: black;
        font-family: 'Arial Narrow';
        text-align:center;
        margin:5px;
    }

    .contents-r2-c1 {        
        text-align:center;
        margin:5px;
        height: 260px;
        margin-top: 200px;
    }

    #start-button {
        font-size: 40px bold;
        font-family: 'Bodoni MT Black';
        color: green;

    }
    
    #submit-button {
        font-size: 30px bold;
        font-family: 'Bodoni MT Black';
        color: green;
    }
    .contents-r2-c2 {        
        margin:5px;
        height: 100px;
        margin-top: 580px;
    }

    .contents-r2-c3 {        
        text-align:center;
        margin:5px;
        height: 260px;
        margin-top: 20px;
    }
