.container-background {
    /* background-size:cover;    */
    background-image: url("../images/2background.png");
}

div {
    margin: 5px;
    display: inline-block;
    color:whitesmoke;   
    background-blend-mode: color-burn;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    font-weight: bold;
}

form 
input {
    margin: 5px;
    color:rgb(15, 73, 180);
    background-blend-mode: color-burn;
    font-family: 'Bodoni MT Black';
}


.contents-r2-c1 {
    font-family: 'Bodoni MT Black';    
    text-align: left;
    font-size: 14px;
    margin-left:5px;
    height: 950px;
    margin-top: -5px;
    padding: 5px;
}

button {
    cursor:pointer;
    border-radius:7px;
    padding:4px;
    margin:5px;    
    color: black;    
}

button:hover{    
    color: rgb(105, 152, 223);
}

#add-artist {
    cursor:pointer;
    border-radius:7px;
    padding:4px;
    margin:5px;    
    color: black;

}

#add-artist:hover {
    color: rgb(24, 134, 57);
}

#artists-view {    
    font-size: 20px;
    cursor:pointer;
}